@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Prompt', sans-serif;
}

.header {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    margin: 6px 3px;
}

.button {
    padding: 15px;
    margin: 0px 2px;
    width: 55px;
    border: 2px solid black;
    border-radius: 14px;
    cursor: pointer;
}

.input {
    font-size: 20px;
    padding: 12px 0px;
    border: 2px solid black;
    border-radius: 10px;
}
